<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="/css/master.css" />
	<title>Jem - <%=  page_title %></title>
</head>
<body>
  <div id="wrapper">
    <nav id="nav">
      
    </nav>
    <div id="main">
      <div id="primary">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      Footer here
    </div>
  </div>
</body>
</html>